/*body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}*/
:root{
  --orangred: #ff4500;
  --orange:  #fc5b23;
  --grey: #666;
  --darkgrey: #2f2f2f;
  --darkgrey2: #181818;
  --black2: #080b0c;
  --green: #25da72;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

::selection{
  background-color: var(--green);
  color: var(--orange);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--grey);
  border-radius: 3rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--orange);
  border-radius: 3rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--orange);
}

select:focus > option:checked { 
  background: #fc5b23 !important;
}

 a {
  text-decoration: underline !important;
}

 a:hover {
  color: var(--orange) !important;
}

.canvas-container {
  height: 50vh;
  width: 53vw;
}